.logo{
    width: 151px;
    height: 56px;
}

.footer-navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

.footer-navbar img{
}

.footer-navbar a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.footer-text-link{
    line-height: 70px;
}

.footer-outer-link{
    padding: 30px 0 30px 0;
    text-align: right;
    border-top: solid 1px #e7edf4;
}

.footer-outer-link a{
    text-decoration: none;
    margin-left: 20px;
}

.footer-outer-link img{
    width: 30px;
    height: 30px;
    border: solid 2px #e7edf4;
    border-radius: 20px;
    padding: 4px;
}